@model IEnumerable<MeuTeste.Models.Viagem>

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastros</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<main class="prin">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.destino)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.passagem)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.passagem)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID_Viagem">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID_Viagem">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID_Viagem">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>

