@model IEnumerable<MeuTeste.Models.Cliente>

@{
    ViewData["Title"] = "Cadastro principal";
}

<h1>Cadastro principal</h1>

<p>
    <a asp-action="Create">Novo cadastro</a>
</p>
<main class="prin">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_nasc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_nasc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID_Cliente" class="btn">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_Cliente" class="btn">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_Cliente" class="btn">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</main>
